@charset "UTF-8";

@font-face {
    font-family: "Paradise";
    src: url(../fonts/idroid.otf);
}

:root {
    --cor0: #C5EBD6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1a5c37;
    --cor5: #063D1E;
    --branco: #F0F5F2;
    --preto: #131212;

    --fontePadrao: Arial, Verdana, Helvetica, sans-serif;
    --fonteDestaque: "Bebas Neue", cursive;
    --fonteAndroid: "Paradise", cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor0);
    font-family: var(--fontePadrao);
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(180deg, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: var(--branco);
    font-family: var(--fonteDestaque);
    font-weight: normal;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0 #0000005d;
}

header p {
    color: var(--branco);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding: 0 10px;
    text-shadow: 2px 2px 0 #0000006c;
    margin-bottom: 30px;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.452);
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    background-color: var(--branco);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.425);
    margin-bottom: 30px;
    border-radius: 0 0 10px 10px;
}

main h1 {
    color: var(--cor5);
    font-weight: normal;
    font-size: 1.8em;
    font-family: var(--fonteAndroid);
}

main h2 {
    font-family: var(--fonteAndroid);
    color: var(--cor4);
    font-weight: normal;
    font-size: 1.3em;
    background-image: linear-gradient(90deg, var(--cor1), transparent);
    text-indent: 8px;
}

main p {
    font-size: 1em;
    margin: 15px 0;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor0);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    margin: 0 -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%; /* valor inserido para aumentar o background da div do video, pois quando o video é colocado em posição absoluta, isso afeta o background do elemento que o contém */
    position: relative;
}

div.video > iframe {
    position: absolute; /* colocando o video em posição absoluta, eu posso mudar sua posição em relação ao elemento container e suas dimensões em relação ao elemento container */
    top: 5%;
    right: 5%; /* posicionando o vídeo a 5% de distância do topo e da direita do elemento container pai */
    width: 90%;
    height: 90%; /* usando essas medidas eu consigo deixar o vídeo centralizado e responsivo para todos os tamanhos de tela */
}

aside {
    padding: 10px;
    background-color: var(--cor1);
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.452);
    border: 1px solid var(--cor5);
}

aside h3 {
    background-color: var(--cor4);
    color: var(--branco);
    padding: 10px;
    margin: -10px -10px 0 -10px;
    border-radius: 10px 10px 0 0;
}

aside ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--preto);
    color: var(--branco);
    font-size: 0.8em;
    text-align: center;
    padding: 5px;
}

footer a {
    color: var(--branco);
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    color: var(--cor1);
    text-decoration: underline;
}